.container {
  margin-top: 75px;
}

.img-responsive2 {
  max-height: 15%;
  max-width: 15%
}

.btn {
  margin-right: 5px 5px;
}

.form-control {
  margin-bottom: 4px;
}

.list-legend {
  margin-top: 20px;
}

.navbar {
  background-color: #e6e6e6;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}
